<h1>{{title}}</h1>
{{#if price}}
<h2>{{price}} €</h2>
{{else}}
<h2>Price upon request</h2>
{{/if}}

<ul>
    {{#each ingredients}}
    <li>{{this}}</li>
    {{/each}}
</ul>

{{log ingredients}}


{{> ctaOrderNow title = title}}

<img src="/images/{{imageFile}}" alt="">